<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/process}"
      th:object="${message}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Sender :<input type="text"  th:field="*{sender}" />
    <span th:if="${#fields.hasErrors('sender')}"
          th:errors="*{sender}"></span><br />
    Content :<input type="text"  th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />
    Date   :<input type="text" th:field="*{date}" />
    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span><br />
<br />
    <input type="submit" value="Post" />
</form>
</body>
